.post-title{
    text-align: center;
    font-size: 24px;
    margin: 10px 0 20px;
    font-weight: 600;
}

.post-item {
  border: 1px dashed #ccc;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.post-item-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}